@model gestionBiblioteca.Models.Autor

@{
    ViewData["Title"] = "Detalles";
}

<h1 class="text-center mb-4">Detalles del Autor</h1>

<div class="card shadow-lg p-4">
    <h4 class="text-center text-primary">Información del Autor</h4>
    <hr />
    <dl class="row ">
        <dt class="col-sm-3 fw-bold text-secondary">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
</div>

<div class="mt-4 d-flex justify-content-center">
    <a asp-action="Edit" asp-route-id="@Model?.AutorId" class="btn btn-warning me-2">
        <i class="bi bi-pencil-square"></i> Editar
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Volver a la Lista
    </a>
</div>
